---
import SocialBtn from "./SocialBtn.astro";
import React from "./icons/react.astro";
import GithubIcon from "../components/icons/github.astro";
import LinkIcon from "../components/icons/link.astro";
import Html from "./icons/html.astro";
import Css from "./icons/css.astro";
import Tailwind from "./icons/tailwind.astro";
import Vite from "./icons/vite.astro";
import Elementor from "./icons/elementor.astro";
import Bootstrap from "./icons/bootstrap.astro";
import Astroicon from "./icons/astroicon.astro";
import Wordpress from "./icons/wordpress.astro";

const TAGS = {
    ASTRO: {
        name: "Astro.js",
        class: "bg-gradient-to-r from-purple-700 to-pink-300 text-white",
        icon: Astroicon,
    },

    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-[#3F0D77] text-white",
        icon: Bootstrap,
    },

    CSS: {
        name: "CSS",
        class: "bg-[#1B779F] text-white",
        icon: Css,
    },

    ELEMENTOR: {
        name: "Elementor",
        class: "bg-[#9A345D] text-white",
        icon: Elementor,
    },


    HTML: {
        name: "HTML",
        class: "bg-[#7A442D] text-white",
        icon: Html,
    },


    REACT: {
        name: "React.js",
        class: "bg-[#1A7181] text-white",
        icon: React,
    },

    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },

    VITE: {
        name: "Vite.js",
        class: "bg-gradient-to-r from-purple-700 to-blue-500 text-white",
        icon: Vite,
    },
    WORDPRESS: {
        name: "Wordpress",
        class: "bg-[#08426A] text-white",
        icon: Wordpress,
    }
};

const PROJECTS = [
    {
        title: "MyTravel",
        description: "Este proyecto web fue creado para una agencia de viajes, dirigido a aquellos usuarios que buscan planificar su próximo viaje.",
        link: "https://mytravel-web.netlify.app/",
        github: "https://github.com/AnabelHuancaM/myTravel",
        image: "/projects/myTravel.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.BOOTSTRAP],
    },

    {
        title: "Yumhub",
        description: "Landing page del restaurante de pizzas. Sumérgete en una experiencia culinaria única con nuestras auténticas pizzas artesanales.",
        link: "https://yumhub01.vercel.app/",
        github: "https://github.com/AnabelHuancaM/yumHub",
        image: "/projects/yumhub.png",
        tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.ASTRO],
    },

];
---

<div class="flex flex-col gap-y-16">
    {
    //llamando a los props
    PROJECTS.map(({ title, description, image, tags, link, github }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-1/2">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img
                        class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                        loading="lazy" src={image} alt={title}/>
                </div>
            </div>

            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-xl font-bold text-gray-700 dark:text-gray-100">
                    {title}
                </h3>
                
                <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>

                <div class="flex flex-wrap mt-2">
                    <ul class="flex flex-row mb-2 gap-x-2">
                        {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `} >
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                    </ul>
                    
                    <div class="flex items-end justify-start mt-4 gap-x-4">
                    {
                        link && (
                            <SocialBtn href={link}>
                                <LinkIcon class="size-6"/>
                                Preview
                            </SocialBtn>
                        )
                    }
                    {
                        github && (
                        <SocialBtn href={github}>
                            <GithubIcon class="size-6"/>
                            Code
                        </SocialBtn>
                        )}
                </div>

                </div>
            </div>
        </article>
    ))
    }
</div>